@page "/"

<PageTitle>Typhoon MSC: Portal</PageTitle>
<MudLayout>
	<div class="fullscreen-background">
	</div>
	<MudMainContent>
			<MudContainer Class="d-flex justify-content-center align-content-center">
				<MudStack Spacing="2" AlignItems="AlignItems.Center" Justify="Justify.Center">

					<MudText Align="Align.Center" Typo="Typo.h2">Welcome to A Simple Task Management Application</MudText>
					<MudGrid Justify="Justify.Center">
						<MudItem>
							<MudImage Width="200" Fluid="true" Src="images/8556ad2d-facd-4e2e-af1d-3a0b3e529263.png" Alt="TMSC Badge" Elevation="0" />
						</MudItem>
					</MudGrid>
					<MudText Align="Align.Center" Typo="Typo.body1">Built using a C# full stack through; .NET 9, EF Core, Blazor and MudBlazor UI Library </MudText>
				</MudStack>
			</MudContainer>
	</MudMainContent>
</MudLayout>




